.a-header1 {
    background-color: #4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.h2-custom {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.img-custom1 {
    padding: 20px;

}

.tnport {
    position: relative;
    width: 100%;
}

.sp1 {
    position: absolute;
    background-color: #4aaaa5;
    height: 50px;
    top: 70%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt-custom {
    width: 100%;
    position: relative;
}

.btn-custom {
    background-color: #4aaaa5;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #4aaaa5;
}

.nav-lines {
    color: lightgrey;
}